body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.weather-container {
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

.row {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

input.location-input {
    width: 60%;
    padding: 8px;
}

.weather-sunny {
    background-color: #f8d100; /* Yellow background */
    color: #333; /* Black text */
}

/* Styles for Rainy weather */
.weather-rainy {
    background-color: #0078d4; /* Blue background */
    color: #fff; /* White text */
}

button.location-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
    text-align: left;
}

/* Add more CSS styles as needed */
